<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/media/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/media//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/media/favicon-16x16.png">
    <link rel="manifest" href="./static/media/site.webmanifest">
</head>
<body>
    <div class="containerC">
        <div class="dashboard">
              <a href="/analyze_tracks" class="db-button">
                <strong>The Generalizer</strong>
                <p class="feature-text">Analyze and visualize how your music taste evolved.</p>
              </a>
              <a href="/organize_tracks" class="db-button">
                <strong>The Organizer</strong>
                <p class="feature-text">Generate playlists using your liked songs.</p>
              </a>
              <a href="/delete_playlists" class="db-button">
                <strong>Delete</strong>
                <p class="feature-text">Not happy with the result? Delete generated playlists and try again.</p>
              </a>
              <a href="/logout" class="db-button">
                <strong>Log Out</strong>
                <p class="feature-text">Log out of your Spotify account.</p>
              </a>
        </div>
    </div>
</body>
</html>