<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genrify</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/media/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/media//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/media/favicon-16x16.png">
    <link rel="manifest" href="./static/media/site.webmanifest">
</head>
<body>
    <div id="main" class="bg-purple-800 text-white">
        <header class="bg-black py-4">
            <div class="container mx-auto flex justify-between items-center px-5">
                <div class="flex items-center">
                    <span class="text-white"><b>GENRIFY</b></span>
                </div>
                <nav id="nav" class="flex items-center space-x-10 text-white">
                    <a href="#feature-section" class="hover:underline">Features</a>
                    <a href="#about-section" class="hover:underline">About</a>
                    <a href="#contact-section" class="hover:underline">Contact</a>
                    <a href="#" class="hover:underline"><i class="fas fa-music"></i></a>
                </nav>
            </div>
        </header>
        <main class="container mx-auto px-4 py-8" style="padding: max(7vw,7vh);">
            <div class="flex justify-around">
                <img id="genrify" src="./static/media/genrify.png" alt="Genrify" style="width:64vw;height:54vh;">
            </div>
            <div class="mt-8 text-center">
                <p>
                    Turn your liked songs into <b>genrified</b> playlists!
                </p>
                <button class="mt-4 bg-green-500 text-black px-6 py-3 rounded-full hover:bg-green-600" style="margin-top:6vh;">
                    {% if not logged_in %}
                        <a href="{{ login_url }}">Log in with Spotify</a>
                    {% else %}
                        <a href="/logout">Log Out</a>
                    {% endif %}
                </button>
            </div>
        </main>
    </div>
    {% if logged_in %}
        <div class="containerB">
            <div class="starting-point">
                <a href="/get_tracks" class="starting-button">Start with Your Liked Songs</a>
            </div>
        </div>
    {% endif %}
    {% if not logged_in %}
        <div id="feature-section" class="containerC">
            <div class="features">
                <p class="feature-text">* <strong>The Generalizer</strong>: Analyze your music taste in genres *</p>
                <p class="feature-text">* <strong>The Organizer</strong>: Organize your liked songs into bite-sized playlists (like these) *</p>
                <div class="cards">
                    <iframe class="playlist" src="https://open.spotify.com/embed/playlist/0k9gTpK6V1Ch7Hq3hPoiyL" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <iframe class="playlist" src="https://open.spotify.com/embed/playlist/13bhvO1DFGR8jQnamitjkJ" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <iframe class="playlist" src="https://open.spotify.com/embed/playlist/6n1WlXw4FKRmcreEPd2O7S" rameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div id="about-section" class="containerB">
            <div class="features">
                <p class="feature-text"><b>Genrify</b> is an open source web app powered by the Spotify API.</p>
                <p class="feature-text">By choosing to use this app, you agree to the use of your Spotify account username and data for your tracks and playlists.</p>
                <p class="feature-text">None of the data used is stored or collected anywhere, and it is NOT shared with any third parties.</p>
            </div>
        </div>
        <div id="contact-section" class="containerC">
            <div class="features">
                <a href = "http://blue-mirror.com" class="made-by">Made by Ethan Chen.</a>
                <div class="social-buttons">
                    <a href="https://www.linkedin.com/in/ethan-chen-a9a264250/" target="_blank" class="social-button">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="mailto:ethanchen143@gmail.com" class="social-button">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="https://open.spotify.com/artist/1L02fZkGeJPkZIS86zf7l9?si=ipI5UvoxSa-zxbQnFtV13g" target="_blank" class="social-button">
                        <i class="fab fa-spotify"></i>
                    </a>
                    <a href="https://www.youtube.com/@ethanchen8289" target="_blank" class="social-button">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

</body>
</html>