<!-- templates/waiting.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Processing...</title>
</head>
<body>
    <div class="containerA">
        <div class="intro">
            <div class="item">
                <h1>Your request is being processed...</h1>
            </div>
        </div>
        <div class="intro">
            <div class="item">
                <h1>This may take a few minutes. Please do not close this window.</h1>
            </div>
        </div>
        <div id="error-message" style="color: red;"></div>
    </div>
    <script>
        function checkStatus() {
            fetch('/check_status')
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'completed') {
                        window.location.href = '/results?type=' + getResultType();
                    } else if (data.status === 'error') {
                        document.getElementById('error-message').innerText = 'An error occurred: ' + JSON.stringify(data.details);
                    } else {
                        setTimeout(checkStatus, 5000); // check again after 5 seconds
                    }
                })
                .catch(error => {
                    document.getElementById('error-message').innerText = 'An error occurred: ' + error;
                });
        }
        
        function getResultType() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('type');
        }
        
        checkStatus();
    </script>
</body>
</html>
