<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Processing...</title>
    <link rel="apple-touch-icon" sizes="180x180" href="./static/media/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/media//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/media/favicon-16x16.png">
    <link rel="manifest" href="./static/media/site.webmanifest">
</head>
<body>
    <div class="containerB">
        <h1>Your request is being processed:)</h1>
        <h1>This may take a few minutes depending on the size of your playlists. plz do not close this window.</h1>
        <div id="error-message" style="color: red;"></div>
    </div>
    <script>
        function checkStatus() {
            const jobType = {{ job_type | tojson }};
            console.log('Job Type:', jobType);
            console.log('Checking status...');
            fetch(`/check_status?job_type=${jobType}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Status:', data.status);
                    console.log('Data:', data);
                    if (data.status === 'completed') {
                        window.location.href = `/results?type=${jobType}`;
                    } else if (data.status === 'error') {
                        document.getElementById('error-message').innerText = 'An error occurred: ' + data.details;
                    } else {
                        setTimeout(checkStatus, 5000); // check again after 5 seconds
                    }
                })
                .catch(error => {
                    document.getElementById('error-message').innerText = 'An error occurred: ' + error;
                });
        }
        checkStatus();
    </script>
</body>
</html>
